<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:util="http://www.springframework.org/schema/util" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.0.xsd">
<bean id="humanHeart" class="com.tns.springaw.Heart">
<property name="nameOfAnimal" value="Human"></property>
<property name="noOfHeart" value="1"></property>
</bean>
<bean id="octopusHeart" class="com.tns.springaw.Heart">
<property name="nameOfAnimal" value="Octopus"></property>
<property name="noOfHeart" value="3"></property>
</bean>
<bean id="human" class="com.tns.springaw.Human">
</bean>
</beans>